@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Informações adicionais.</p>
<p>@ViewData["email"]</p>
<address>
    <strong> Mais informações: </strong> <a href="http://teste.com.br">Teste.com.br</a>
</address>
